@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.site {
  display: flex; }

main {
  width: 100%;
  padding: 2rem 2rem 2rem 0;
  padding-left: 27%; }

.filters {
  display: inline;
  width: auto;
  font-size: 1.5rem; }
  .filters button {
    font-family: "Playfair", serif;
    color: #4F4F4F;
    background: none;
    appearance: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid transparent; }
  .filters .all.is-checked {
    border: 1px solid #A66E4F; }
  .filters .sweet.is-checked {
    border: 1px solid #e44a69; }
  .filters .salty.is-checked {
    border: 1px solid #065a74; }
  .filters .others.is-checked {
    border: 1px solid #C0CEBA; }

h1, h2, h3 {
  font-family: "Playfair", serif; }

h1 {
  display: inline;
  font-size: 66px;
  margin: 0; }

h2 {
  font-size: 48px; }

p {
  color: #4F4F4F; }

.btn {
  padding: 1rem;
  border-radius: 0;
  box-shadow: none;
  appearance: none;
  color: #FFF1E6;
  font-size: 1.25rem;
  font-family: "Source Sans Pro", "sans-serif";
  width: 100%; }
  .btn-kaki {
    background-color: #5C6D54; }

.btn:visited {
  color: #FFF1E6; }

.header {
  position: fixed;
  width: 25%;
  padding: 8rem 4.25rem;
  z-index: 10;
  background: #fff; }
  .header .logo {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0 auto 2.5rem; }
    .header .logo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .header .main-navigation ul {
    display: block;
    line-height: 2.5rem;
    font-size: 1.25rem;
    font-family: "Source Sans Pro", "sans-serif";
    font-weight: 300;
    color: #4F4F4F; }
    .header .main-navigation ul li {
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
    .header .main-navigation ul li,
    .header .main-navigation ul a {
      float: left;
      clear: both;
      display: inline; }
    .header .main-navigation ul li a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 1px;
      background-color: #065a74;
      transform: translate(-50%, 0%);
      opacity: 0;
      transition: 0.1s all linear; }
    .header .main-navigation ul li:hover a {
      color: #065a74; }
    .header .main-navigation ul li:hover a:after {
      bottom: 5px;
      opacity: 1; }
    .header .main-navigation ul li a:visited {
      color: #4F4F4F; }
  .header a:visited {
    color: #4F4F4F; }
  .header .reseaux {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; }
    .header .reseaux a {
      margin: 0.5rem; }
    .header .reseaux .icon {
      font-size: 1.5rem;
      color: #065a74; }

.element-item {
  width: 33%;
  padding: 10px; }

.grid-isotop {
  margin: 0 -10px; }

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    color: #4F4F4F;
    background: #fff; }
  a,
  .filters button,
  .recipes-intro,
  .discover-intro,
  .recipes-card_body-title,
  .recipes-card_body-desc,
  .discover-card_body-desc,
  .discover-card_body-title {
    color: #4F4F4F; }
  .gallery-card_body-title {
    color: #065a74; }
  body.dark-theme {
    color: #fff;
    background: #001b24; }
    body.dark-theme header,
    body.dark-theme .gallery-title-filters,
    body.dark-theme .discover-title-filters,
    body.dark-theme .recipes-title-filters {
      background: #001b24; }
    body.dark-theme .main-navigation ul,
    body.dark-theme a,
    body.dark-theme a:visited,
    body.dark-theme .icon,
    body.dark-theme .filters button,
    body.dark-theme .recipes-intro,
    body.dark-theme .discover-intro,
    body.dark-theme .recipes-card_body-title,
    body.dark-theme .recipes-card_body-desc,
    body.dark-theme .discover-card_body-desc,
    body.dark-theme .discover-card_body-title,
    body.dark-theme .gallery-card_body-title {
      color: #fff; } }

.gallery .element-item {
  position: relative;
  transition: all ease-in-out 0.2s;
  text-decoration: none; }

.gallery-title-filters {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0.5rem 0; }

.gallery-title {
  display: inline;
  color: #065a74; }

.gallery-card_image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: all ease-in-out 0.2s; }

.gallery .gallery-card_body {
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all ease-in-out 0.2s;
  padding: 1rem 1rem 1rem; }
  .gallery .gallery-card_body-title {
    padding-right: 2rem;
    font-size: 2rem;
    color: #065a74; }

.gallery .icon {
  position: absolute;
  bottom: 1.5rem;
  right: 4rem;
  opacity: 0;
  transition: all ease-in-out 0.2s;
  color: #065a74; }

.gallery .element-item:hover .gallery-card_body {
  opacity: 1; }

.gallery .element-item:hover .gallery-card_image {
  opacity: 0.3; }

.gallery .element-item:hover .icon {
  opacity: 1;
  right: 2rem; }

.recipes .element-item {
  transition: all ease-in-out 0.2s;
  text-decoration: none; }

.recipes-title-filters {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0.5rem 0; }

.recipes-intro {
  margin: 1rem 0 2rem;
  max-width: 65%; }

.recipes-title {
  display: inline;
  color: #A66E4F; }

.recipes-card_image {
  position: relative;
  width: 100%;
  height: 13rem;
  overflow: hidden; }
  .recipes-card_image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.recipes-card_body {
  position: relative;
  padding: 1.25rem 1.5rem; }
  .recipes-card_body-title {
    font-size: 1.5rem;
    color: #4F4F4F;
    text-transform: capitalize; }
  .recipes-card_body-desc {
    padding-bottom: 1rem;
    font-size: 0.875rem;
    color: #4F4F4F; }

.recipes-card--others {
  border: 1px solid #C0CEBA; }
  .recipes-card--others .icon {
    color: #C0CEBA; }

.recipes-card--sweet {
  border: 1px solid #e44a69; }
  .recipes-card--sweet .icon {
    color: #e44a69; }

.recipes-card--salty {
  border: 1px solid #A66E4F; }
  .recipes-card--salty .icon {
    color: #A66E4F; }

.recipes .icon {
  position: absolute;
  bottom: 1.25rem;
  right: 4rem;
  opacity: 0;
  transition: all ease-in-out 0.2s; }

.recipes .element-item:hover {
  transform: scale(1.1); }

.recipes .element-item:hover .icon {
  opacity: 1;
  right: 1.5rem; }

.discover .element-item {
  transition: all ease-in-out 0.2s;
  text-decoration: none; }

.discover-title-filters {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0.5rem 0; }

.discover-intro {
  margin: 1rem 0 2rem;
  max-width: 65%; }

.discover-title {
  display: inline;
  color: #5C6D54; }

.discover-card_image {
  position: relative;
  width: 100%;
  height: 13rem;
  overflow: hidden; }
  .discover-card_image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.discover-card_body {
  position: relative;
  padding: 1.25rem 1.5rem; }
  .discover-card_body-title {
    font-size: 1.5rem;
    color: #4F4F4F;
    text-transform: capitalize; }
  .discover-card_body-desc {
    padding-bottom: 1rem;
    font-size: 0.875rem;
    color: #4F4F4F; }

.discover-card--multimedia {
  border: 1px solid #065a74; }
  .discover-card--multimedia .icon {
    color: #065a74; }

.discover-card--beauty {
  border: 1px solid #C0CEBA; }
  .discover-card--beauty .icon {
    color: #C0CEBA; }

.discover-card--creativity {
  border: 1px solid #e44a69; }
  .discover-card--creativity .icon {
    color: #e44a69; }

.discover-card--lifestyle {
  border: 1px solid #A66E4F; }
  .discover-card--lifestyle .icon {
    color: #A66E4F; }

.discover .icon {
  position: absolute;
  bottom: 1.25rem;
  right: 4rem;
  opacity: 0;
  transition: all ease-in-out 0.2s; }

.discover .element-item:hover {
  transform: scale(1.1); }

.discover .element-item:hover .icon {
  opacity: 1;
  right: 1.5rem; }
