// Colors 
$white: #fff;
$gray-light:        #a5a5a5;
$gray-light-2: #949494;
$gray:        #4F4F4F;
$kaki:         #5C6D54;
$kaki-light:   #C0CEBA;
$terre:        #A66E4F;
$beige:        #FFF1E6;
$framboise:    #e44a69;
$canard:    #065a74;
$darkmode:    rgb(0, 20, 26);

// Fonts
$playfair: 'Playfair', serif;
$source: 'Source Sans Pro', 'sans-serif';
 