
.mode {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

    .btn-mode {
        display: inline;
        padding: 0 0.5rem;
    }

    .btn-mode:first-child {
        border-right: 2px solid $gray-light;
    }
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body,
    .container-mobile  {
        color: $gray;
        background: $white;
    }

    a,
    .filters button,
    .recipes-intro,
    .discover-intro,
    .recipes-card_body-title,
        .recipes-card_body-desc,
        .discover-card_body-desc,
        .discover-card_body-title,
        .header .main-navigation ul li a:visited {
        color: $gray;
    }

    .gallery-card_body-title {
        color: $canard;
    }

    #darkmode {
        opacity: 0.3;
    }

    #lightmode {
        opacity: 1;
    }

    .steps p,
    .ingredients p{
        color: $gray;
    }

    body.dark-theme {
        color: $white;
        background: $darkmode;

        header,
        .gallery-title-filters,
        .discover-title-filters,
        .recipes-title-filters,
        .container-mobile  {
            background: $darkmode;
        }

        .steps p,
        .ingredients p,
        .close,
        .burger{
            color: $white;
        }

        #darkmode {
            opacity: 1;
        }

        #lightmode {
            opacity: 0.3;
        }
    
        .main-navigation ul,
        a,
        a:visited,
        .icon,
        .filters button,
        .recipes-intro,
        .discover-intro,
        .recipes-card_body-title,
        .recipes-card_body-desc,
        .discover-card_body-desc,
        .discover-card_body-title,
        .gallery-card_body-title,
        .header .main-navigation ul li a:visited,
        .single-gallery_title,
        .single-discover_title,
        .single-recipes_title,
        .single-recipes_desc p,
        .single-gallery_desc p,
        .single-discover_desc p,
        .home h1,
        .home h2,
        .home_btn span,
        .discover p,
        .bi-discord,
        .bi-instagram,
        .bi-envelope,
        .politique h1,
        .politique h2  {
            color: $white;
        }

        .home_btn {
            border: 1px solid $white;

            &:hover {
                background: $white;
            }

            &:hover span,
            &:hover .icon {
                color: $canard;
            }
        }

        .home_image:after {
            background: linear-gradient(180deg, rgba(0, 20, 26, 0) 0%, rgba(0, 20, 26, 1)  100%);
        }
    }

    
  }
  