.discover {

    .element-item {
        transition: all ease-in-out 0.2s;
        text-decoration: none;
    }

    &-title-filters {
        background: $white;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        top: 0;
        z-index: 2;
        padding: 0.5rem 0;
        @media (min-width: 768px) { 
            position: sticky;
            flex-flow: column;
        }

        @media (min-width: 1200px) { 
            flex-flow: row;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &-intro {
        margin: 1rem 0 2rem;
        max-width: 100%;

        @media (min-width: 768px) { 
            max-width: 65%;
        }
    }

    &-title {
        display: inline;
        color: $kaki;
    }

    &-card_image {
        position: relative;
        width: 100%;
        height: 13rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-card_body {
        position: relative;
        padding: 1.25rem 1.5rem;

        &-title {
            font-size: 1.5rem;
            color: $gray;
            text-transform: capitalize;
        }

        p {
            color: $gray;
        }

        span {
            color: $canard;  
        }

        &-desc {
            padding-bottom: 1rem;
            font-size: 0.875rem;
            color: $gray;
        }
    }

    &-card--multimedia {
        border: 1px solid $canard;

        .icon {
            color: $canard;
        }
    }


    &-card--beauty {
        border: 1px solid $kaki-light;
        .icon {
            color: $kaki-light;
        }
    }

    &-card--creativity {
        border: 1px solid $framboise;

        .icon {
            color: $framboise;
        }
    }

    &-card--lifestyle {
        border: 1px solid $kaki;

        .icon {
            color: $kaki;
        }
    }

    .icon {
        position: absolute;
        bottom: 1.25rem;
        right: 4rem;
        opacity: 0;
        transition: all ease-in-out 0.2s;
    }
    
    .element-item:hover .icon {
        opacity: 1;
        right: 1.5rem;
    }
}

/*********** Single Discover *********/
.single-article {
    padding-top: 2rem;

    &_image {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-bottom: 3rem;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &_date {
        width: 100%;
        text-align: center;
        color: $canard;
    }

    &_title {
        font-size: 2.5rem;
        color: $canard;
        margin-bottom:2rem;
        text-align: center;
    }

    &_info {
        display: flex;
        flex-flow: column;

        @media (min-width: 768px) {
            padding: 0 5rem;
        }

        p {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }

        
    }
}