footer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    @media (min-width: 768px) { 
        flex-flow: row;
    }

    div {
        display: inline;
    }

    a,
    a:visited,
    a:hover,
    div {
        color: $gray-light-2;
    }
}