.gallery {

    .element-item {
        position: relative;
        transition: all ease-in-out 0.2s;
        text-decoration: none;
    }

    &-title-filters {
        background: $white;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        top: 0;
        z-index: 2;
        padding: 0.5rem 0;
        @media (min-width: 768px) { 
            position: sticky;
            flex-flow: row;
            justify-content: space-between;
            align-items: baseline;
        }
    }


    &-title {
        display: inline;
        color: $canard;
    }

    &-card_image {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 1;
        transition: all ease-in-out 0.2s;

    }

    .gallery-card_body {
        position: relative;
        padding: 1rem 1rem 1rem;
        @media (min-width: 768px) { 
            position: absolute;
            bottom: 0;
            opacity: 0;
            transition: all ease-in-out 0.2s;
            padding: 1rem 1rem 1rem;
        }


        &-title {
            font-size: 1.25rem;
            color: $canard;
            margin-bottom: 1rem;
            @media (min-width: 768px) { 
                padding-right: 2rem;
                font-size: 2rem;
                margin-bottom: 0;
            }
        }
    }
  
   
    .icon {
        position: absolute;
        bottom: 1.5rem;
        right: 4rem;
        opacity: 0;
        transition: all ease-in-out 0.2s;
        color: $canard;
    }


    // Hover 
    .element-item:hover .gallery-card_body {
        @media (min-width: 768px) { 
            opacity: 1;
        }
    }

    .element-item:hover .gallery-card_image {
        @media (min-width: 768px) { 
            opacity: 0.3;
        }
    }

    .element-item:hover .icon {
        @media (min-width: 768px) { 
            opacity: 1;
            right: 2rem;
        }
    }
}

/*********** Single Gallery *********/
.single-gallery {
    display: flex;
    justify-content: center;
    flex-flow: column;

    @media (min-width: 768px) {
        padding-top: 6rem;
        flex-flow: row;
        align-items: flex-end;
    }

    &_image {
        width: 100%;

        @media (min-width: 768px) {
            width: 40%;
        }
    }

    &_title {
        font-size: 1.25rem;
        color: $canard;
        margin-bottom: 0.5rem;
    }

    &_info {
        display: flex;
        flex-flow: column;
        margin-top: 1rem;

        @media (min-width: 768px) {
            margin-left: 2rem;
            max-width: 250px;
        }
        
        p {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}