.element-item { 
    width: 100%;
    padding: 0.5rem;
    overflow: hidden;
    position: relative;
 
    @media (min-width: 768px) { 
        width: 33%; 
    }
}

.grid-isotop {
    margin: 0 -0.5rem;
}
