.header {
    position: relative;
    width: 100%;
    padding: 1rem;
    z-index: 10;
    background: $white;

    @media (min-width: 992px) { 
        position: fixed;
        width: 25%;
        padding: 1.5rem;
    }

    .bi-discord {
        color: $canard;
        font-size: 1.5rem;
    }

    .container-mobile {
        position: fixed;
        left: -100%;
        background: $white;
        width: 100%;
        height: 100%;
        padding: 2rem 2rem;
        transition: all 0.2s ease-in-out;
        top: 0;
        @media (min-width: 992px) { 
            position: relative;
            left: 0%;
            background: transparent;
        }

        &.open {
            left: 0
        }
    }

    .logo {
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        overflow: hidden;
        padding: 0;
        margin: 0 auto 2.5rem;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main-navigation ul{
        display: block;
        line-height: 2.5rem;
        font-size: 1.25rem;
        font-family: $source;
        font-weight: 300;
        color: $gray;

        li {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        li,
        a {
            float: left;
            clear: both;
            display: inline;
        }
    
        li a:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 1px;
            background-color: $canard;
            transform: translate(-50%, 0%);
            opacity: 0;
            transition: 0.1s all linear;
        }
    
        li:hover {
            a {
                color: $canard;
            }
    
            a:after {
                bottom: 5px;
                opacity: 1;
            }
        }
    
        li a:visited {
            color: $gray;
        }
    }

    a:visited {
        color: $gray;
    }

    .reseaux {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        a {
            margin: 0.5rem;
        }

        .icon {
            font-size: 1.5rem;
            color: $canard;
        }
    }

}

/** BUton mobile menu **/
.burger,
.close,
.logo-mobile,
.mobile-menu {
    background: none;
    border: none;
    padding: 0;
    @media (min-width: 992px) { 
        display:none;
    }
}

.logo-mobile {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    @media (min-width: 992px) { 
        display:none;
    }
}

.close {
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
    font-size: 2rem;
}
