.home {
    @media (min-width: 768px) {
        padding-top: 0;
        padding-right: 0; 
    }

    h2 {
        color: $canard;
    }

    &_image {
        position: relative;
        height: 20rem;
        overflow: hidden;
        margin: 0 -2rem;

        @media (min-width: 920px) {
            margin: 0;
        }

        &:after {
            content: '';
            position:absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        }

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &_title {
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        font-size: 2.5rem;
        top: -2rem;
        color: $canard;

        @media (min-width: 768px) {
            font-size: 5rem;
            top: -4rem;
        }
    }

    &_desc {
        width: 100%;
        margin: 0;
        @media (min-width: 768px) {
            margin: 0 auto; 
            width: 70%;
        }
    }

    &_btn {
        margin-right: 0.5rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border: 1px solid $canard;
        transition: 0.2s all ease-in-out;

        span,
        .icon  {
            position: relative;
            left: 0;
            color: $canard;
            margin: 0.5rem;
            transition: 0.2s all ease-in-out;
        }

    }

    &_btn:hover {
        background: $canard;

        span,
        .icon  {
            color: $white;
            margin: 0.5rem;
        }

        .icon {
            left: 0.5rem;
        }
    }

    .gallery-card_image,
    .discover-card_image {
        height: 15rem;
        overflow: hidden;

        @media (min-width: 768px) { 
            width: 50%;
            height: 25rem;
        }

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .gallery-card_body,
    .discover-card_body {
        padding: 1rem 0 0 0;

        @media (min-width: 768px) {
            width: 50%;
            padding: 0 1.5rem;
        }

        div {
            display: flex;
            flex-wrap: wrap;
        }

        div a {
            margin-bottom: 1rem;
        }
    }

    .section-flex,
    .recipes {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        @media (min-width: 768px) { 
            flex-flow: row;
        }
    }

    .reverse {
        flex-flow: column-reverse;
        @media (min-width: 768px) { 
            flex-flow: row;
        }
    }

    section {
        margin: 5rem 0;

        p { margin-bottom: 1rem; }
    }

    .recipes-card {
        height: 100%;
    }

    .center {
        margin: 2rem auto;
        text-align: center;
    }

    .recipes a {
        padding: 1rem 0;

        @media (min-width: 768px) {
            padding: 2rem 1rem;

            &:first-child {
                padding-left: 0;
            }

        }
    }
}