@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//body
.site {
    display: flex;
    flex-flow: column;
    @media (min-width: 920px) { 
        flex-flow: row;
    }
}

// Page
main {
    overflow-x: hidden;
}

main,
footer {
    width: 100%;
    padding: 0 2rem 4rem;
    @media (min-width: 920px) {
        padding: 1.5rem;
        padding-left: 26%;
    }
}

.page.noscroll {
    overflow: hidden;
}

// Filters 
.filters {
    display: inline;
    width: auto;
    font-size: 1.5rem;

    button {
        font-family: $playfair;
        color: $gray;
        background: none;
        appearance: none;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border: 1px solid transparent;
    }

    .all.is-checked {
        border: 1px solid $terre;
    }

    .lifestyle.is-checked  {
        border: 1px solid $kaki;
    }

    .sweet.is-checked,
    .digital.is-checked,
    .creativity.is-checked {
        border: 1px solid $framboise;
    }

    .salty.is-checked,
    .multimedia.is-checked {
        border: 1px solid $canard;
    }

    .others.is-checked,
    .acrylic.is-checked,
    .beauty.is-checked  {
        border: 1px solid $kaki-light;
    }
}

// Headings

h1,h2,h3 {
    font-family: $playfair;
}

h1 {
    display: inline;
    font-size: 66px;
    margin: 0;
}

h2 {
    font-size: 48px;
}

// Text 

.politique h1 {
    color: $canard
}

.politique h2 {
    font-family: $source;
    color: $gray;
    font-size: 2rem;
    margin-top: 2rem;
}


// Buttons

.btn {
    padding: 1rem;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    color: $beige;
    font-size: 1.25rem;
    font-family: $source;
    width: 100%;
    
    &-kaki {
        background-color: $kaki;
    }
}

.btn:visited {
    color: $beige;
}


