.recipes {
    .element-item {
        transition: all ease-in-out 0.2s;
        text-decoration: none;
    }

    &-title-filters {
        background: $white;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        top: 0;
        z-index: 2;
        padding: 0.5rem 0;
        @media (min-width: 768px) { 
            position: sticky;
            flex-flow: row;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &-intro {
        margin: 1rem 0 2rem;
        max-width: 100%;
        @media (min-width: 768px) { 
            max-width: 65%;
        }
    }

    &-title {
        display: inline;
        color: $terre;
    }

    &-card_image {
        position: relative;
        width: 100%;
        height: 13rem;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
    }

    &-card_body {
        position: relative;
        padding: 1.25rem 1.5rem;

        &-title {
            font-size: 1.5rem;
            color: $gray;
            text-transform: capitalize;
        }

        span {
            color: $canard;
        }

        &-desc {
            padding-bottom: 1rem;
            font-size: 0.875rem;
            color: $gray;
        }
    }

    &-card--others {
        border: 1px solid $kaki-light;
        .icon {
            color: $kaki-light;
        }
    }

    &-card--sweet {
        border: 1px solid $framboise;

        .icon {
            color: $framboise;
        }
    }

    &-card--salty {
        border: 1px solid $terre;

        .icon {
            color: $terre;
        }
    }

    .icon {
        position: absolute;
        bottom: 1.25rem;
        right: 4rem;
        opacity: 0;
        transition: all ease-in-out 0.2s;
    }


    .element-item:hover .icon {
        opacity: 1;
        right: 1.5rem;
    }
}

/*********** Single Recipe *********/
.single-recipe {
    .row {
        display: flex;
        flex-flow: column;

        @media (min-width: 768px) {
            flex-flow: row;
        }
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .row-intro {
        align-items: center;
    }

    &_image,
    &_infos {
        padding: 0;
        width: 100%;

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    &_infos {
        padding: 2rem 0;

        @media (min-width: 768px) {
            width: 50%;
            padding: 2rem;
        }
    }

    &_title {
        font-size: 3rem;
    }

    &_desc {
        margin: 0.5rem 0;
    }

    .steps,
    .ingredients {
        margin-top: 3rem;
    }

    .ingredients {
        margin-top: 0;
        
        @media (min-width: 768px) { 
            margin-top: 3rem;
        }
    }

    .steps {
        width: 100%;
        padding: 0;

        @media (min-width: 768px) {
            padding: 0 1.5rem;
            width: 70%;
        }

        ul {
            list-style: decimal-leading-zero;
        }
    }

    .ingredients {
        border: 1px solid $gray-light;
        width: 100%;
        padding: 1rem 1.5rem;

        @media (min-width: 768px) {
            width: 30%;
        }
    }

    .recipe_ingredient-title {
        font-size: 1.25rem;
    }

    .recipe_steps-title {
        font-size: 1.5rem;
    }

    ul {
        margin: 0 0 1.5rem;
    }

    .ingredients ul {
        padding-left: 1rem;
    }

    .steps ul {
        padding-left: 1.5rem;
    }
}